# Basic Data Exploration. Carga y comprende tus datos.


<p align="center">
  <img src="assets/separador.png" alt="Separador" width=300"/>
</p>

In [3]:
import pandas as pd

In [4]:
# La librería mas importante de Pandas es el DataFrame

In [5]:
# Pandas contiene métodos muy poderosos para la mayoría de las cosas que querrás hacer con estos df


<p align="center">
  <img src="assets/separador.png" alt="Separador" width=300"/>
</p>

### Trabajando con csv Melbourne. Cargando Data

In [11]:
ruta_al_csv="data/melb_data.csv"

datos_melbourne=pd.read_csv(ruta_al_csv)

datos_melbourne.head(2)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0

In [13]:
# Descripcion general del DF
datos_melbourne.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000


<p align="center">
  <img src="assets/separador.png" alt="Separador" width=300"/>
</p>

# Interpretando el Data Description:


Cuando se muestra la **data description** de un dataset, aparecen 8 valores estadísticos para cada columna. Estos valores ayudan a entender la distribución y calidad de los datos.

## count
Indica cuántas filas tienen valores **no nulos** (non-missing values) en esa columna.  
Los **missing values** pueden aparecer por muchas razones. Por ejemplo, el tamaño del segundo dormitorio no se recoge si la vivienda solo tiene un dormitorio. El tratamiento de missing data se abordará más adelante.

## mean
La **mean** es la media aritmética, es decir, el promedio de los valores de la columna.

## std
La **std** (standard deviation) mide cuánto se dispersan los valores respecto a la media. Una std alta indica valores muy variados; una std baja indica valores más concentrados.

## min, 25%, 50%, 75% y max
Para entender estos valores, imagina que ordenas todos los datos de una columna de menor a mayor:

- **min**: el valor más pequeño.
- **25% (25th percentile)**: el valor por debajo del cual se encuentra el 25% de los datos.
- **50% (50th percentile o median)**: el valor central; la mitad de los datos están por debajo y la otra mitad por encima.
- **75% (75th percentile)**: el valor por debajo del cual se encuentra el 75% de los datos.
- **max**: el valor más grande.

## Resumen
Esta información permite detectar:
- Valores extremos (outliers)
- Presencia de missing values
- La distribución general de cada variable

Es una herramienta clave para entender el dataset antes de entrenar cualquier modelo de machine learning.

<p align="center">
  <img src="assets/separador.png" alt="Separador" width=300"/>
</p>